p {
  color: red; }

.contenedor {
  background-color: salmon;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .contenedor .titulo {
    color: slateblue; }
  .contenedor:hover {
    background-color: tomato; }

header {
  background-color: grey;
  color: white;
  display: flex;
  justify-content: space-between; }

ul {
  display: flex; }
  ul li {
    list-style: none;
    margin: 10px; }
