* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal; }

.container .titulo {
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline; }

.inicio {
  color: blue;
  font-weight: bold;
  font-size: 20px; }

.sorpresa {
  color: brown;
  font-weight: bold;
  font-size: 20px; }

.beneficio {
  color: grey;
  font-weight: bold;
  font-size: 20px; }

.salud {
  color: red;
  font-weight: bold;
  font-size: 20px; }

header {
  background-color: #85C7DE;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left; }
  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    font-weight: bold; }
  header li {
    color: black;
    list-style: none;
    margin: 10px;
    text-align: center; }
  header .logomundis {
    width: 20%; }

a {
  color: black;
  text-align: center;
  font-weight: bold; }

p {
  color: black; }

.table {
  background-color: grey;
  color: white; }
  .table .thead {
    background-color: whitesmoke;
    color: black; }

.container {
  background-color: #63C346;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .container .titulo {
    color: #D6F7FF; }
  .container:hover {
    background-color: greenyellow; }

.container-fluid {
  background-color: #B2EDC5; }

h3 {
  color: #364652;
  font-size: 30px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: capitalize; }

h4 {
  text-decoration: underline; }

.main {
  background-color: #D6F7FF;
  text-align: center; }
  .main h2 {
    color: #63C346;
    font-size: 48px;
    font-weight: 600;
    text-decoration: underline;
    text-transform: capitalize; }

footer {
  background-color: #FCF300; }
  footer .feiscolor {
    width: 2%; }
  footer .instacolor {
    width: 2%; }
  footer .twittercolor {
    width: 2%; }
  footer p {
    font-size: large;
    color: black;
    font-family: cursive;
    text-align: center; }
  footer a {
    color: black;
    text-decoration: underline; }

body {
  background-image: url(fitzroy.jpeg); }
