$textoResaltado: (
    inicio: black,
    sorpresa: white,
    beneficio: black,
    salud: white,

);
@each $frases, $color in $textoResaltado {
    .#{$frases}{
        color: $color;
        font-weight: bold;
        font-size: 20px;
    }
}