$verdemantis: #63C346;
$turquesa: #00A3CC;
$cianclaro: #D6F7FF;
$majorelleazul: #574AE2;
$floreslavanda: #AB81CD;
$mentamagica: #B2EDC5;
$opalo: #9DC0BC;
$verdeamarillo: #AFFC41;
$mandarina: #F08700;
$carbon: #364652;
$cieloazul: #85C7DE;
$maiz: #E7E247;
$amarillotitanio: #DDD92A;
$amarillomaximo: #F5F749;
$amarillocadmio: #FCF300;
$verdelima: #73CE3F;
$verdebrillante: #5CE90A;
$verdeneon: #37EE05;
$pinopulido: #539987;
$ultramarino: #470FF4;