header{
    
    color: white;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    text-align:left;
    align-content: center;

}


.mundo{
    width: 25%;
}
ul{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    text-align: center;
    align-content: center;

    li{
        list-style: none;
        margin: 10px;
        text-align: center;
    }
}