header{
    
    background-color: $cieloazul;
    color: white;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    text-align:left;
    
    
    ul{
        
        display:flex;
        justify-content:center;
        align-items:center;
        text-align: center;
        align-content: center;
        font-weight: bold;
    }
        li{
            color: black;
            list-style: none;
            margin: 10px;
            text-align: center;
            
        }
    .logomundis{
        width: 20%;
    }
}

a{
    color: black;
    text-align: center;
    font-weight: bold;
}